RewriteEngine On

# Desativa o índice de diretórios
Options -Indexes

# Bloqueia qualquer acesso fora da /api
RewriteCond %{REQUEST_URI} !^/lab_software/api
RewriteRule ^ - [F]

# Redireciona requisições para /api/index.php se não for arquivo físico (rotas)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ api/index.php [QSA,L]
